
.login {
    font-size: 12px;
    position: fixed;
    top: 20px;
    left: 4%;
    min-width: 300px;
    border-radius: 4px;
    & input{
        border-radius: 4px;
    }
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    border: 1px solid $color_blue1;
    background-color: $color_white;
    z-index: 5;
    row-gap: 14px;
    &_item{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2px;
    }
    button {
        font-size: 14px;
    }
    &__text {
        text-align: start;
        color: $color_blue1;
        &-req{
            color: $color_red;
        }
    }
    &__input {
        border: 1px solid $color_blue2;
        height: 22px;
        padding: 0 1px;
        z-index: 6;
        &-desc{
            height: 90px;
            width: 500px;
            resize: none;
        }
    }
    &__nav {
        margin: 14px 0 0 0;
        display: flex;
        justify-content: end;
        column-gap: 12px;
        &--delete {
            margin: 3px 2px;
            padding: 4px 16px;
            border: 1px solid $color_red;
            border-radius: 4px;
            color: $color_red;
            width: fit-content;
            font-size: 12px !important;
        }
        &--add {
            margin: 2px 0;
            color: $color_blue1;
            padding: 4px 16px;
            border: 1px solid $color_blue1;
            border-radius: 4px;
            width: fit-content;
            font-size: 12px !important;
        }
    }
    &__logout {
        position: fixed;
        top: 20px;
        right: 4%;
        width: fit-content;
        color: $color_blue1;
        z-index: 7;
        &--delete{
            padding: 4px 16px;
            border: 1px solid $color_red;
            border-radius: 4px;
            color: $color_red;
        }
    }
}

.login.add {
    font-size: 12px;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    & li{
        display: flex;
        justify-content: space-between;
    }
    .add__req{
        display: flex;
        column-gap: 8px;

    }
    .media--add {
        position: static;
    }
    .add__label{
        cursor: pointer;
    }
    .add__del{
        color: $color_red;
        margin-left: 15px;
    }
}


#file-upload {
    display: none;
}

#file-bgupload {
    display: none;
}

.add__ul{
      font-size: 12px;
    max-height: 100px;
    height: 100%;
    overflow-x: hidden;
    padding-right: 15px;
}


.add__additional{
    font-size: 12px;
    display: flex;
    column-gap: 8px;
}